<div class="baseno-section about-img1"></div>
<a name="about"></a>

<div class="baseno-section baseno-bottom-margin">
    <div class="container">
        <div class="baseno-copy-negative baseno-top-pad">
            <div class="row">
                <div class="baseno-copy-negative-header col-md-4">Nós somos Baseno</div>
                <div class="col-md-8">
                    <p class="baseno-big-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <p class="baseno-top-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p class="baseno-top-margin-small">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>
