<div class="clearfix"></div>
<div class="baseno-section baseno-logo-background">
    <div class="container">
        <div class="baseno-copy baseno-top-pad baseno-bottom-margin">
            <div class="row">
                <div class="baseno-copy-header col-md-4" id="#blog">Blog Name</div>
                <div class="baseno-copy-text col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    <div class="baseno-button-inverted baseno-top-margin-small"><a href="">UP TO DATE</a></div>
                </div>

            </div>
        </div>
    </div>
</div>