<div class="baseno-section baseno-bottom-margin">
    <div class="container">
        <div class="baseno-copy-negative baseno-top-pad">
            <div class="row">
                <div class="baseno-copy-negative-header col-md-4" id="#contact">Contactos</div>
                <div class="col-md-4">
                    <p>Para informações, propostas, ideias, colaborações, contacte-nos através do email</p>
                </div>
                <div class="col-md-4">
                    <div class="baseno-big-text-colored baseno-top-margin"><a href="mailto:geral@baseno.pt" target="_top">geral@baseno.pt</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="baseno-section contact-img1"></div>