<div class="baseno-section baseno-bottom-margin">
    <div class="container">
        <div class="baseno-copy-negative baseno-top-pad">
            <div class="row">
                <div class="baseno-copy-negative-header col-md-4">Contact us</div>
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="baseno-big-text">Berliner street 123</div>
                    <div class="baseno-big-text">12345 Berlin </div>
                    <div class="baseno-big-text baseno-top-margin">(+123) 456 789 345</div>
                    <div class="baseno-big-text">(+123) 456 789 345</div>
                    <div class="baseno-big-text-colored baseno-top-margin">inqueries@baseno.com</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="baseno-section contact-img1"></div>