<div class="clearfix"></div>

<div class="baseno-small-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"><h2 class="baseno-small-section-margin">Expertise</h2></div>
            <div class="col-sm-8"></div>
        </div>
    </div>
</div>

<div class="baseno-section baseno-section-no-top-padding">
    <div class="container">
        <div class="baseno-expertise">
            <div class="row">
                <div class="col-sm-12 baseno-expertise-img1 baseno-bottom-margin-big2"></div>
            </div>
            <div class="row">
                <div class="col-md-4 baseno-big-title">
                    Meso escala
                </div>
                <div class="col-md-4">
                    <p class="baseno-bold">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>

                </div>
                <div class="col-md-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="baseno-section baseno-section-no-top-padding">
    <div class="container">
        <div class="baseno-expertise">
            <div class="row">
                <div class="col-sm-12 baseno-expertise-img2 baseno-bottom-margin-big2"></div>
            </div>
            <div class="row">
                <div class="col-md-4 baseno-big-title">
                    Análise estatística de extremos
                </div>
                <div class="col-md-4">
                    <p class="baseno-bold">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>

                </div>
                <div class="col-md-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="baseno-section baseno-section-no-top-padding">
    <div class="container">
        <div class="baseno-expertise">
            <div class="row">
                <div class="col-sm-12 baseno-expertise-img3 baseno-bottom-margin-big2"></div>
            </div>
            <div class="row">
                <div class="col-md-4 baseno-big-title">
                    Hidrodinâmica
                </div>
                <div class="col-md-4">
                    <p class="baseno-bold">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>

                </div>
                <div class="col-md-4">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
