<div class="clearfix"></div>

<div class="baseno-small-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"><h2 class="baseno-small-section-margin" id="#expertise">Especialidades</h2></div>
            <div class="col-sm-8"></div>
        </div>
    </div>
</div>

<div class="baseno-section baseno-section-no-top-padding">
    <div class="container">
        <div class="baseno-expertise">
            <div class="row">
                <a name="meso"></a>
                <div class="col-sm-12 baseno-expertise-img1 baseno-bottom-margin-big2"></div>
            </div>
            <div class="row">
                <div class="col-md-4 baseno-big-title">
                    Processos Hidrológicos
                </div>
                <div class="col-md-4">
                    <p class="baseno-bold">
                        As especificidades do contínuo solo-vegetação-atmosfera são o verdadeiro ADN da bacia hidrográfica.
                        Alterações que fragmentem algum destes três membros ou a ligação entre eles gera alterações ao comportamento do conjunto da bacia.
                        Compreender estes processos significa prever os impactos de alteração antropogénicas no ciclo hidrológico a todas as escalas espaciais e temporais.
                    </p>
                    <p>
                        As especificidades do contínuo solo-vegetação-atmosfera são o verdadeiro ADN da bacia hidrográfica.
                        Alterações que fragmentem algum destes três membros ou a ligação entre eles gera alterações ao comportamento do conjunto da bacia.
                        Compreender estes processos significa prever os impactos de alteração antropogénicas no ciclo hidrológico a todas as escalas espaciais e temporais.
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        Utilizando sistemas de informação geográfica, detecção remota e modelação hidrológica conseguimos
                        quantificar fluxos e reservas de água tipicamente não considerados pelos profissionais de engenharia,
                        permitindo uma imagem mais completa da bacia hidrográfica: recursos distribuídos
                        não monitorizados (como pequenos açudes e charcas à escala regional ou continental),
                        green water (água no solo disponível para as plantas que não transita para o lençol freático
                        ou linha de água), escoamentos sub-superfíciais ou o efeito esponja da infraestrutura verde
                        em contexto urbano (para efeitos de Sistemas Urbanos de Drenagem Sustentável).
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="baseno-section baseno-section-no-top-padding">
    <div class="container">
        <div class="baseno-expertise">
            <div class="row">
                <a name="extremo"></a>
                <div class="col-sm-12 baseno-expertise-img2 baseno-bottom-margin-big2"></div>
            </div>
            <div class="row">
                <div class="col-md-4 baseno-big-title">
                    Hidrologia Estatística
                </div>
                <div class="col-md-4">
                    <p class="baseno-bold">
                        A complexidade do sistema hídrico faz com que processos de precipitação, cheias e secas
                        possam ser considerados de natureza aleatórea. Problemas relacionados com estes fenómenos
                        são tratados com recurso à probabilidade e estatística ou a métodos estocásticos.
                    </p>
                    <p>
                        Contamos com larga experiência no desenvolvimento e aplicação de métodos de análise da incerteza
                        associada a processos hidrológicos ou a cadeias de modelos físicos e estocásticos.
                        Somos especialistas em análise de fiabilidade e risco, modelação estatística clássica e bayesiana.
                    </p>

                </div>
                <div class="col-md-4">
                    <p>
                        Elaboramos análises de fiabilidade e risco associado a processos hidrológicos e infraestruturas,
                        estimamos a incerteza associada a cadeias de modelos físicos e estocásticos e
                        quantificamos a exposição a fenómenos hidrológicos extremos.
                        Somos especialistas na teoria de valores extremos entre outras disciplinas das estatísticas
                        clássica e bayesiana.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="baseno-section baseno-section-no-top-padding">
    <div class="container">
        <div class="baseno-expertise">
            <div class="row">
                <a name="hidro"></a>
                <div class="col-sm-12 baseno-expertise-img3 baseno-bottom-margin-big2"></div>
            </div>
            <div class="row">
                <div class="col-md-4 baseno-big-title"  id="#hidro">
                    Hidrodinâmica
                </div>
                <div class="col-md-4">
                    <p class="baseno-bold">
                        As nossas ferramentas de mecânica de fluídos computacional permitem-nos modelar, visualizar e estudar em detalhe, no espaço e no tempo, escoamentos que desafiam uma descrição de engenharia tradicional.
                    </p>
                    <p>
                        Estes escoamentos apresentam-se em distintas escalas, desde cheias fluviais com potencial geomórfico à escala de um sistema de bacias até pequenos sistemas em pressão.
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        Com a experiência em desenvolvimento de software instalada, um profundo conhecimento das capacidades e limitações assegura a qualidade dos resultados, promovendo ao mesmo tempo a utilização das mais avançadas metodologias. Associado ao custo relativamente baixo de ferramentas computacionais, a excelência neste campo garante uma solução competitiva para os nossos parceiros.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
