<div class="clearfix"></div>

<div class="baseno-small-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"><h2 class="baseno-small-section-margin" id="#expertise">Expertise</h2></div>
            <div class="col-sm-8"></div>
        </div>
    </div>
</div>

<div class="baseno-section baseno-section-no-top-padding">
    <div class="container">
        <div class="baseno-expertise">
            <div class="row">
                <a name="meso"></a>
                <div class="col-sm-12 baseno-expertise-img1 baseno-bottom-margin-big2"></div>
            </div>
            <div class="row">
                <div class="col-md-4 baseno-big-title">
                    Meso escala
                </div>
                <div class="col-md-4">
                    <p class="baseno-bold">
                        As nossas ferramentas permitem-nos integrar o contínuo solo-vegetação-atmosfera nos nossos modelos proporcionando uma visão única e completa do ciclo da água.
                    </p>
                    <p>
                        Utilizando sistemas de informação geográfica, detecção remota e modelação hidrológica conseguimos quantificar fluxos e reservas de água tipicamente não considerados pelos profissionais de engenharia:
                        recursos distribuídos não monitorizados (como pequenos açudes e charcas à escala regional ou continental),
                        green water (água no solo disponível para as plantas que não transita para o lençol freático ou linha de água),
                        escoamentos subsuperfíciais ou o efeito esponja na paisagem (para efeitos de Sistemas Urbanos de Drenagem Sustentável).
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        Tudo isto contribui para uma visão mais completa do ciclo da água.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="baseno-section baseno-section-no-top-padding">
    <div class="container">
        <div class="baseno-expertise">
            <div class="row">
                <a name="extremo"></a>
                <div class="col-sm-12 baseno-expertise-img2 baseno-bottom-margin-big2"></div>
            </div>
            <div class="row">
                <div class="col-md-4 baseno-big-title">
                    Análise estatística de extremos
                </div>
                <div class="col-md-4">
                    <p class="baseno-bold">
                        Due to the complexity of the hydrologic system, phenomena such as rainfall, floods and droughts are random by nature.
                    </p>
                    <p>
                        Therefore, problems related to hydrological phenomena are often tackled using probabilistic, statistical and stochastic methods. We have the know-how to employ and develop analysis frameworks for studies on hydrological uncertainty, simulation, risk analysis and frequency analysis of hydrological extremes.
                        We have expertise on  extreme value theory and other theoretical frameworks from both classical and Bayesian statistics.
                    </p>

                </div>
                <div class="col-md-4">
                    <p>
                        The application of state-of-the-art computational fluid mechanics software to optimize design of hydraulic structures, quantify risks derived from violent flows and complement experimental studies on the laboratory.
                        Our computational fluid mechanics (CFD) tools allow us to model, visualise and study in detail, both in time and space, flows that challenge a classical engineering approach. These include very distinct scales and flow topologies, from mesocale fluvial floods with intense geomorphic potential to small pressurised systems. A combinations of tools are available, depending of the specific task at hand. In house development experience means a profound knowledge of the models capabilities and limitations is always assured, justifying the confidence in our results, while at the same time ensuring that state-of-the-art methodologies are used. Associated with the relative low cost of CFD, our expertise guarantees a competitive solution for our partners.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="baseno-section baseno-section-no-top-padding">
    <div class="container">
        <div class="baseno-expertise">
            <div class="row">
                <a name="hidro"></a>
                <div class="col-sm-12 baseno-expertise-img3 baseno-bottom-margin-big2"></div>
            </div>
            <div class="row">
                <div class="col-md-4 baseno-big-title"  id="#hidro">
                    Hidrodinâmica
                </div>
                <div class="col-md-4">
                    <p class="baseno-bold">
                        As nossas ferramentas de mecânica de fluídos computacional permitem-nos modelar, visualizar e estudar em detalhe, no espaço e no tempo, escoamentos que desafiam uma descrição de engenharia tradicional.
                    </p>
                    <p>
                         Estes escoamentos apresentam-se em distintas escalas, desde cheias fluviais com potencial geomórfico à escala de um sistema de bacias até pequenos sistemas em pressão.
                    </p>

                </div>
                <div class="col-md-4">
                    <p>
                        Com a experiência em desenvolvimento de software instalada, um profundo conhecimento das capacidades e limitações assegura a qualidade dos resultados, promovendo ao mesmo tempo a utilização das mais avançadas metodologias. Associado ao custo relativamente baixo de ferramentas computacionais, a excelência neste campo garante uma solução competitiva para os nossos parceiros.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
