<div class="header">

    <div class="container">
        <img class="main-logo" src="/draftbaseno/images/baseno_logo_fold.png" alt="Baseno">

        <div class="baseno-copy">
            <div class="row">
                <div class="baseno-copy-header col-md-4">Welcome</div>
                <div class="baseno-copy-text col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </div>
            </div>
        </div>

    </div>
    <div class="baseno-down-arrow text-center"><i onclick="scrollToAnchor('nav',-10);sessionStorage.navigation_reached = true;" class="glyphicon glyphicon-chevron-down"></i></div>
</div>

