<div class="header">

    <div class="container">
        <img class="main-logo" src="/draftbaseno/images/baseno_logo_fold.png" alt="Baseno">

        <div class="baseno-copy">
            <div class="row">
                <div class="baseno-copy-header col-md-4">Bem vindo</div>
                <div class="baseno-copy-text col-md-8"><p>BASENO é uma empresa na fronteira entre a ciência e a engenharia. Aplicamos técnicas e
                    modelos de ponta para resolver problemas de hidráulica, hidrologia e engenharia de recursos
                    hídricos.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="baseno-down-arrow text-center"><i onclick="scrollToAnchor('nav',-10);sessionStorage.navigation_reached = true;" class="glyphicon glyphicon-chevron-down"></i></div>
</div>

