<div class="baseno-nav baseno-small-section">
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <div class="item baseno-logo-background">
                    <div class="content">BASENO</div>
                </div>
            </div>
            <div class="col-sm-8">
                <ul class="baseno-menu-links pull-left">
                    <li><a href="/draftbaseno/" >Home</a></li>
                    <li><a href="/draftbaseno/work">Work</a></li>
                    <li><a>Expertise</a></li>
                    <li><a>About</a></li>
                    <li><a>Contact</a></li>
                </ul>
                <ul class="baseno-menu-links pull-right">
                    <li><a class="glyphicon glyphicon-paperclip"></a></li>
                    <li><a class="glyphicon glyphicon-paperclip"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
