<div class="baseno-nav">
    <div class="container">
        <div class="row">

            <div class="col-sm-5">
                <div class="item baseno-logo-background">
                    <div class="content">BASENO</div>
                </div>
            </div>
            <div class="col-sm-5">
                <ul class="baseno-menu-links">
                    <li><a>Home</a></li>
                    <li><a>Work</a></li>
                    <li><a>Expertise</a></li>
                    <li><a>About</a></li>
                    <li><a>Contact</a></li>
                </ul>
            </div>

            <div class="col-sm-2">
                <ul class="baseno-menu-links">
                    <li><a class="glyphicon glyphicon-paperclip"></a></li>
                    <li><a class="glyphicon glyphicon-paperclip"></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
