<div id="custom-bootstrap-menu" class="baseno-nav navbar navbar-default" role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <div class="baseno-logo">
                    <ul class="baseno-menu-social-links visible-xs pull-right">
                        <li><a href="https://www.facebook.com" class="hidden"> <img src="/baseno/images/social_fb.png"> </a></li>
                        <li><a href="https://linkedin.com/" class="hidden"> <img src="/baseno/images/social_linkedin.png"> </a></li>
                        <li><a href="https://twitter.com/"> <img src="/baseno/images/social_twitter.png"> </a></li>
                    </ul>
                    <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-menubuilder">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span>
                    </button>

                    <!--<div class="content">BASENO</div>-->
                    <a href="/baseno/" id="nav" name="nav" > <img src="http://lockemind.github.io/baseno/images/baseno_logo.png" alt="Baseno"></a>

                </div>

            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav navbar-left baseno-menu-links">
                    <li><a href="/baseno/" >Início</a></li>
                    <li class="hidden"><a href="/baseno/work">Projectos</a></li>
                    <li><a href="/baseno/expertise">Especialidades</a></li>
                    <li><a href="/baseno/about">Sobre</a></li>
                    <li><a href="/baseno/contact">Contactos</a></li>
                </ul>
                <ul class="baseno-menu-social-links hidden-xs ">
                    <li><a href="https://www.facebook.com" class="hidden"> <img src="/baseno/images/social_fb.png"> </a></li>
                    <li><a href="https://linkedin.com/" class="hidden"> <img src="/baseno/images/social_linkedin.png"> </a></li>
                    <li><a href="https://twitter.com/BASENOtweet"> <img src="/baseno/images/social_twitter.png"> </a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
