<div class="baseno-nav baseno-small-section-no-top">
    <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="baseno-logo">
                    <!--<div class="content">BASENO</div>-->
                    <a href="/baseno/" id="nav" name="nav" > <img src="/baseno/images/baseno_logo.png" alt="Baseno"></a>
                </div>

                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-menubuilder">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav navbar-left baseno-menu-links">
                    <li><a href="/baseno/" >Início</a></li>
                    <li class="hidden"><a href="/baseno/work">Projectos</a></li>
                    <li><a href="/baseno/expertise">Especialidades</a></li>
                    <li><a href="/baseno/about">Sobre</a></li>
                    <li><a href="/baseno/contact">Contactos</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


