<div class="clearfix"></div>

<div class="baseno-small-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"><h2 class="baseno-small-section-margin">Our work</h2></div>
            <div class="col-sm-8"></div>
        </div>
    </div>
</div>

<div class="baseno-section">
    <div class="container">
        <div class="baseno-work">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <div class="baseno-work-header">Título do Projecto
                    </div>
                    <div class="baseno-work-text-small baseno-top-margin-very-small">Hidrodinâmica - Análise estatística dos extremos
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="baseno-button-big baseno-top-margin-very-very-small"><a href="/draftbaseno/projects/1">KNOW MORE</a></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="baseno-section">
    <div class="container">
        <div class="baseno-work">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <div class="baseno-work-header">Título do Projecto um bocado mais longo mais
                    </div>
                    <div class="baseno-work-text-small baseno-top-margin-very-small">Meso escala - Análise estatística dos extremos
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="baseno-button-big baseno-top-margin-very-very-small"><a href="/draftbaseno/projects/1">KNOW MORE</a></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="baseno-section">
    <div class="container">
        <div class="baseno-work">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <div class="baseno-work-header">Título do Projecto
                    </div>
                    <div class="baseno-work-text-small baseno-top-margin-very-small">Hidrodinâmica - Meso escala - Análise estatística dos extremos
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="baseno-button-big baseno-top-margin-very-very-small"><a href="/draftbaseno/projects/1">KNOW MORE</a></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="baseno-section">
    <div class="container">
        <div class="baseno-work">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <div class="baseno-work-header">Título do Projecto
                    </div>
                    <div class="baseno-work-text-small baseno-top-margin-very-small">Hidrodinâmica - Análise estatística dos extremos
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="baseno-button-big baseno-top-margin-very-very-small"><a href="/draftbaseno/projects/1">KNOW MORE</a></div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="baseno-section">
    <div class="container">
        <div class="baseno-work">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <div class="baseno-work-header">Título do Projecto um bocado mais longo mais</div>
                    <div class="baseno-work-text-small baseno-top-margin-very-small">Meso escala - Análise estatística dos extremos
                </div>

                </div>
                <div class="col-md-2">
                    <div class="baseno-button-big baseno-top-margin-very-very-small"><a href="/draftbaseno/projects/1">KNOW MORE</a></div>
                </div>

            </div>
        </div>
    </div>
</div>
