<div class="clearfix"></div>

<div class="baseno-section baseno-bottom-margin">
    <div class="container">
        <div class="baseno-copy-negative baseno-top-pad">
            <div class="row">
                <div class="baseno-copy-negative-header col-md-4" id="#team">The team</div>
                <div class="col-md-4">
                    <div class="team-img1 baseno-bottom-margin-small"></div>
                    <p class="baseno-big-title baseno-team-member-name">Johny Doe</p>
                    <p class="baseno-title">Head engineer</p>
                    <p class="baseno-top-margin-smallish">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="col-md-4">
                    <div class="team-img1 baseno-bottom-margin-small"></div>
                    <p class="baseno-big-title baseno-team-member-name">Johny Doe</p>
                    <p class="baseno-title">Head engineer</p>
                    <p class="baseno-top-margin-smallish">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="row baseno-top-margin">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="team-img1 baseno-bottom-margin-small"></div>
                    <p class="baseno-big-title baseno-team-member-name">Johny Doe</p>
                    <p class="baseno-title">Head engineer</p>
                    <p class="baseno-top-margin-smallish">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="col-md-4">
                    <div class="team-img1 baseno-bottom-margin-small"></div>
                    <p class="baseno-big-title baseno-team-member-name">Johny Doe</p>
                    <p class="baseno-title">Head engineer</p>
                    <p class="baseno-top-margin-smallish">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
</div>

