<div class="clearfix"></div>
<div class="baseno-small-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"><h2 class="baseno-small-section-margin">O que fazemos</h2></div>
            <div class="col-sm-8"></div>
        </div>
    </div>
</div>
<div class="baseno-section">
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <img src="/draftbaseno/images/mesoescala.png">
                <h3>Processos Hidrológicos</h3>
                <div class="spacer"></div>
                <p>Prevemos a ocorrência de água no tempo e no espaço partindo da compreensão das trocas entre solo,
                    vegetação e atmosfera. Estes três elementos condicionam fundamentalmente a geração de cheias urbanas,
                    a ocorrência de secas ou a capacidade de retenção de água de uma bacia hidrográfica.</p>
                <div class="spacer"></div>
                <a class="baseno-button-small" href="/draftbaseno/expertise#hidro">SABER MAIS</a>
            </div>
            <div class="col-sm-4">
                <img src="/draftbaseno/images/hidrodinamica.png">
                <h3>Hidrodinâmica</h3>
                <div class="spacer"></div>
                <p>Aplicamos métodos de mecânica de fluídos computacional para optimizar o projecto de estruturas hidráulicas
                    e quantificar riscos associados a escoamentos violentos. Podemos complementar estudos experimentais com resultados computacionais.
                    Estudamos em detalhe, no espaço e no tempo, escoamentos que desafiam uma descrição de engenharia tradicional.
                </p>
                <div class="spacer"></div>
                <a class="baseno-button-small" href="/draftbaseno/expertise#meso">SABER MAIS</a>
            </div>
            <div class="col-sm-4">
                <img src="/draftbaseno/images/estatistica.png">
                <h3>Hidrologia Estatística</h3>
                <div class="spacer"></div>
                <p>Dispomos de larga experiência no desenvolvimento e aplicação de métodos e modelos estatísticos e
                    tratamento de grandes volumes de dados geofísicos. Trabalhamos com fiabilidade e risco, incerteza,
                    cadeias de modelos físicos e estocásticos e estatística de extremos, clássica e bayesiana.
                </p>
                <div class="spacer"></div>
                <a class="baseno-button-small"  href="/draftbaseno/expertise#extremo">SABER MAIS</a>
            </div>
        </div>

    </div>
</div>