<div class="clearfix"></div>
<div class="baseno-section img1">
</div>
<div class="baseno-section baseno-bottom-margin">
    <div class="container">
        <div class="baseno-copy-negative baseno-top-pad">
            <div class="row">
                <div class="baseno-copy-negative-header col-md-4">Who we are</div>
                <div class="col-md-8">
                    <div class="baseno-copy-negative-text">A BASENO é composta por pesquisadores activos nas respectivas comunidades científicas.
                    </div>
                    <p class="baseno-copy-negative-text-small baseno-top-margin-small">
                        Nasceu da vontade de aplicar as metodologias e conhecimentos acumulados no meio científico aos problemas reais de hidráulica e engenharia de recursos hídricos. É um ponto de reencontro entre a engenharia e a ciência.

                    </p>
                    <div class="baseno-top-margin-small" >
                        <a class="baseno-button-big" href="/draftbaseno/about">KNOW MORE</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>