// Layout
//
// Styles for managing the structural hierarchy of the site.

$baseBaseno1: '/draftbaseno/images/baseno-background.png';
$logoBackgroundBaseno: '/draftbaseno/images/baseno-background.png';
$img1: '/draftbaseno/images/placeholder_image1.png';

$basenoColor1: #3c817c;
$basenoColor2: #F2F2F2;
$basenoColor3: black;
$basenoColor4: #1A9F96;

$hidro: '/draftbaseno/images/hidrodinamica.png';
$meso: '/draftbaseno/images/mesoescala.png';
$stat: '/draftbaseno/images/estatistica.png';

body{ margin:0px 0px; }

#hero{
  background-image:url($baseBaseno1);
  background-size:cover;
  position:relative;
  height:100vh;
}

.header{
  width:100%;
  font-size:30px;
  font-weight: 400;
  .container{
    padding-top: 50px;
    text-align: left;
    .baseno-box {
        font-size:36px;
        font-weight: 600;
        color: $basenoColor1;
        width: 140px;
        padding: 5px;
        background-color: $basenoColor2;
    }

  }
  .baseno-down-arrow {
    color: $basenoColor2;
    margin-top: 50px;
  }
}

.baseno-box {
  font-size: 18px;
  font-weight: 600;
  color: #3c817c;
  width: 180px;
  padding: 10px;
  background-color: $basenoColor2;
}

.baseno-top-margin {
  margin-top: 50px;
  &-small{
    margin-top: 30px;
  }
  &-big{
    margin-top: 200px;
  }
}

.baseno-bottom-margin {
  margin-bottom: 50px;
  &-small{
    margin-bottom: 30px;
  }
  &-big{
    margin-bottom: 200px;
  }
}

.baseno-top-pad {
  padding-top: 50px;
  &-big{
    padding-top: 200px;
  }
}

.baseno-copy{
  color: $basenoColor2;
  &-header {
    font-size:30px;
    font-weight: 500;
  }
  &-text{
    font-size:30px;
    font-weight: 300;
  }
}

.baseno-copy-negative{
  color: black;
  &-header {
    font-size:30px;
    font-weight: 500;
  }
  &-text{
    font-size:30px;
    font-weight: 300;
    &-small{
      font-size: 18px;
      font-weight: 400;
    }
  }
}

#content{
  padding:100px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
}

.baseno-nav {
  //border-top: #000000 solid 2px;
  //border-bottom: #000000 solid 2px;
  //height: 64px;
  //line-height: 64px;
  .baseno-menu-links{
    font-size:16px;
    font-weight: 500;
    margin-top: 25px;
    li {
      a {
        text-decoration: none;
        color: $basenoColor3;
      }
      display:inline;
      padding-left: 10px;
    }
  }
}

#content h2{
  margin:0px 0px 30px 0px;
}

.item {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  width: 132px;
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  background-size: 100%;
  transform-origin: center center;
  background-position:50% 50%;
  margin-bottom: 10px;
  margin-top: 8px;
  //@include transition(all 0.5s ease);

  &:hover {
    background-size: 105%;
    cursor: pointer;
  }

  .content {
    background: white;
    color:$basenoColor4;
    //line-height: 26px;
    font-size: 25px;
    font-weight: 800;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 0px;
  }
}

.baseno-logo-background {
  background-image: url($logoBackgroundBaseno);
}


.baseno-small-section {
  border-top: #000000 solid 4px;
  height: 75px;
  //line-height: 64px;
  left-padding: 50px;
  right-padding: 50px;
  &-margin {
   margin-top: 16px;
  }
}
.baseno-section {
  border-top: #000000 solid 4px;
  padding: 50px;
  &-blog{
    padding-top:10px;
  }
}

.baseno-button {
  border: $basenoColor1 solid 4px;
  color: $basenoColor1;
  font-size: 13px;
  font-weight: 800;
  width: 105px;
  padding-left: 6px;
  padding-right: 6px;
  &-big {
    @extend .baseno-button;
    font-size: 16px;
    width: 126px;
  }
}

.img1 {
  background-image: url($img1);
  height: 645px;
}






